table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

body,
button {
    font-family: cursive, Arial, sans-serif;
    font-size: 12px;
}

main {
    width: 90%;
    margin: auto;
    /* background-color: lightgray;
    justify-content: center;
    align-items: center; */
}

p {
    text-align: right;
}

thead {
    background-color: lightgrey;
}

/* unvisited links */
a:link {
    color: blue;
}

/* visited links */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}